body,
ul,
li,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: purple;
  padding: 5px;
  text-align: center;
  color: aquamarine;
  font-size: 29px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  text-shadow: rgb(208, 231, 6) 2px 1px;
}

.banner {
  position: relative;

  .banner img {
    max-width: 100%;
  }
}
.banner .welcome {
  color: aqua;
  position: absolute;
  padding: 30px;
  left: 0;
  top: 30%;
}
.banner h2 {
  font-size: 50px;
}
.banner h2 span {
  font-size: 1.3em;
}
nav {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  position: sticky;
  top: 65px;
}
nav li {
  width: 20%;
  display: inline-block;
  font-size: 24px;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
nav li a {
  text-decoration: none;
  color: white;
  background-color: purple;
  border: groove;
  border-color: whitesmoke;
  font-weight: bolder;
  padding: 10px 60px;
  border-radius: 300px;
  font-size: 18px;
}
nav li a.join {
  color: red;
}
main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}
article h2 {
  color: purple;
  font-size: 48px;
  
}
article p {
  line-height: 2em;
  color: rgb(56, 53, 53);
  
}
.images {
  text-align: center;
  margin: 80px 0;
  white-space: nowrap;
}
.images li {
  display: inline-block;
  width: 40%;
}
.images li img {
  max-width: 100%;
  margin: 20px 10px;
}
section.join {
  background: #f4f4f4;
  text-align: center;
  padding: 60px 20px;
  color: #4b4b4b;
}
.join h2 {
  font-size: 36px;
  padding: 20px;
}
form input {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 20px;
  border: 4px solid purple;
}
footer {
  background: purple;
  color: white;
  padding: 5px;
  text-align: center;
}
h3 {
  font-size: 24px;
  color: purple;
  font-weight: bold;
  padding: 10px 0;
}
.github {
  font-size: 15px;
  color: white;
  border-radius: 50px;
  border: white;
  padding: 10px 20px;
  text-decoration: none;
  background-color: purple;
  font-weight: bold;
}
.http {
  font-size: 15px;
  color: white;
  border-radius: 50px;
  border: white;
  padding: 10px 20px;
  text-decoration: none;
  background-color: purple;
  font-weight: bold;
}
.video {
  margin-left: 80px;
  padding-top: 5px;
  padding-bottom: 80px;
  padding-left: 80px;
  
}

.video-link {
  padding-top: 50px;
  padding-left: 60px;
}
